@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    position: relative;
    background-color: rgb(250, 250, 249);
    width: 99%;
}

/* Navigation Style */
.nav-part {
    width: 99%;
    height: 620px;
    background-color: #2D25A0;
    margin-bottom: 0;  
}

.banner {
    
}

/* Main Style */

.blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 125px;
}

.blog {
    width: 300px;
    height: 454px;
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.blog .thumbnail img{
    border-radius: 10px;
}

.blog .blog-info .blog-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 10px 0;
}

.blog .blog-info p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* Footer Style */
.footer-body {
    background-color: rgb(109, 109, 64);
    border: 3px solid rgb(94, 71, 14);

}

.footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 575px;
    left: 475px;
    top: 2600px;
}

.footer-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.footer-header .footer-logo {
    height: 100px;
    width: 102px;
}

.footer-header .footer-title {
    font-family: 'Niconne', cursive;
    color: #10437A;
    font-size: 44px;
}

.footer-icons {
    width: 575px;
    height: 88px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
}

.icon {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    
}

.social{
    width: 51px;
    height: 51px;
    font-size: 50px;
    color: thistle;
    padding: 0 20px;
}

.footer-copyright p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}